version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: eyufyuf
      POSTGRES_DB: network_simulation_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  backend:
    build: ./backend
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - db
    expose:
      - "8000"

  frontend:
    build: ./frontend
    depends_on:
      - backend
    expose:
      - "3000"

  gpss-api:
    hostname: gpss-api
    restart: unless-stopped
    build:
      context: ./gpss-api
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - API_PORT=8080
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./gpss-api/app:/gpss-api/app:ro
    expose:
      - "8080"
    # Доступ только через nginx на http://localhost/gpss-api/

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
      - gpss-api

volumes:
  postgres_data:
  pgadmin_data: