version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: eyufyuf
      POSTGRES_DB: network_simulation_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  backend:
    build: ./backend
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - db
    expose:
      - "8000"
  frontend:
    build: ./frontend
    depends_on:
      - backend
    expose:
      - "3000"

  gpss-api:
    hostname: gpss-api
    restart: unless-stopped
    build:
      context: ./gpss-api
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./gpss-api/app:/gpss-api/app:ro
    ports:
      - ${API_PORT}:${API_PORT}


  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  postgres_data:
